
*{
    font-family: 'Roboto', sans-serif;
}
/* styles 'body' of generator */

main, div, div.card{
    /* max-width:75%; */
    align-content: center;
    /* background-color: chartreuse; */
}

.card {
    align-items: center;
    max-width: 75%;
}

 button{
    border: transparent;
 } 

 form #generate:hover{
    background-color: black;
}

#generate{
    border-radius: 5rem;
    background-color: #5bc0de;
    padding: 1rem;
    margin-top: 1rem;
    color: #d8d8d8;
    /* color: #ffffff;  */
}

.button-text{
font-family: 'Roboto';
font-size: 1rem;
}

/* 'copy to clipboard' changes color in hover. not sure it's needed in light mode */
 /* button .button-text:hover{
    background-color: #5bc0de;
} */


footer a{
    color: #5bc0de;
}

footer a:hover{
    color: black;
}