
html body{
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #2c3e50;
}
/* font color heading / paragraph elments */

h1 ,h6, p, label, form{
    color: #95a5a6;
}
/* changed font size for P - standard font size was difficult to read */

p{
    font-size: large;
}
/* styles 'body' of generator */

section.card{
    background-color: #34495e;
}
main, div, .card, h1, section{
    /* max-width:75%; */
    align-content: center;
    /* background-color: #34495e; */
}

.card {
    align-items: center;
    max-width: 75%;
    border-radius: 5rem;
}

/* button styling  */

button{
    border: transparent;
 } 

#generate{
    border-radius: 5rem;
    background-color: #2c3e50;
    padding: 10px;
    /* margin-top: 1rem; */
    color: #95a5a6;
}

#gbtn{
    background-color: #2c3e50;
}

form #generate:hover{
    background-color: #34495e;
}
#gbtn:hover{
    background-color: #34495e;
}

.button-text, button{
font-family: 'Darker Grotesque', sans-serif;
font-size: 1rem;
background-color: #34495e;
color: #95a5a6;
}

/* 'copy to clipboard' changes color in hover. not sure it's needed in blue mode,keeping for 'light' mode/later use */
 /* button .button-text:hover{
    background-color: #5bc0de;
} */

/* footer styling */
footer{
    background-color: #34495e;
}
footer a{
    color: #5bc0de;
    
}

footer a:hover{
    color: #2c3e50;
}